# Compiled artifacts
/lib
**/*.js
**/*.js.map

# Firebase service account key
serviceAccountKey.json
serviceAccountKey.ts

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
